<h2>Por Pais</h2>

<hr>


<div class="row">
  <div class="col">
    <!-- SearchBox -->
    <!-- (onValue)="searchByCapital($event)" -->
    <shared-search-box
    [initialValue]="initialValue"
    (onDebaounce)="searchByCapital($event)"
      placeholder="Buscar por pais"></shared-search-box>
</div>

</div>


<div class="row">
  <div class="col">

    <hr>
    <shared-loading-spiner *ngIf="isLoading" ></shared-loading-spiner>

    <countries-table [countries] = "countries"></countries-table>
  </div>
</div>
